:root{
    --vermelho: #E50914;
    --preta: #141414;
  
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: var(--preta);
    font-family: 'Arial', Times, serif;
    color: rgb(255, 255, 255);
}


header .container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:space-between;  /* <--- afasta e coloca no canto da div */
}

header .logo{
    color: var(--vermelho);
    font-family: Arial BLACK, Helvetica, sans-serif;
    font-size: 40px;
    padding-left: 5px;
}
header NAV a{
    text-decoration: none;
    color: #AAA;
    margin-right: 10PX;

}

header nav a:hover{
    color: rgb(53, 50, 50);
}

.filme-principal {
    padding-left: 30px;
    font-size: 16px;
    background: linear-gradient(rgba(0,0,0, .50), rgba(0,0,0, .50)100%), url('/img/fundo.jpg');
    height: 500px;
    background-size:cover;
    display: flex;
    display: flexbox;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.filme-principal .container{
        width: 75%;
}

.botao {
    margin-top: 40px;
    background-color: rgba(0,0,0, .50);
    color: aliceblue;
    padding: 15px 30px;
    border: none;
    margin-right: 15px; 

    cursor: pointer;
    transition: .5s ease all;
        
}

.botao:hover{
    background-color: white;
    color: #141414;
   
}


.titulo {
    font-size: 40px;
    font: bolder 40pt times ;
    margin-top: 25%;
    
}

.botao i {
    margin-right: 8px;
}

/* wrapper */

